*.snakemake/
*.idea/
*nohup.out

pipeline-repair/raw-data/
pipeline-repair/output/
pipeline-repair/src/htslib/

*.DS_Store
*.Rproj.user
*.Rhistory
*.ipynb_checkpoints/
*__pycache__/

*.bus
*.h5ad
*fastq
*fastq.gz
*.bam
